{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='flex_container'>
    <div class='left_box'>
        <h1>home page</h1>
        <div class='room_container'>
            {% for num in numbers %}
                <div class='room'>
                    {{num}}번
                </div>
            {% endfor %}
        </div>
    </div>
    <div class='right_box'>
        <img class='coin_logo'src="{% static 'img/coin_logo_thin.svg' %}"/><br/>
        <label for="name">닉네임</label>
        <input type="text" id="name" name="name" required size="10">
        <br/>
        <label for="password">비밀번호</label>
        <input type="text" id="password" name="password" required size="10">
        <a href="room">
            <button>입장하기</button>
        </a>
    </div>
</div>
{% endblock %}